%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:configuraciones, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:configuraciones, :new)

.tabs-content
  -form_for :configuracion, url(:configuraciones, :create), :class => 'form-horizontal' do |f|
    =partial 'configuraciones/form', :locals => { :f => f }
