.form-group
  =select_tag :rango,
              options: [  [ '20 min', 20.minutes ],
                          [ '60 min', 60.minutes ],
                          [ '24 hrs', 24.hours   ] ],
              selected: rango,
              class: 'form-control'
